<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Car Maintenances</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
</head>
<body>
  <!-- Ferre Goovaerts 1092398-->
  <h3 th:text="'Maintenances done to ' + ${car.getName()}"></h3>
  <p>Car Details</p>
  <ul>
    <li th:text="'Brand: ' + ${car.getBrand()}"></li>
    <li th:text="'Type: ' + ${car.getType()}"></li>
    <li th:text="'Kilometers: ' + ${car.getKilometers()}"></li>
  </ul>
  <img onerror="this.src='img/noimage.jpg'" th:src="@{${car.getPhoto()}}" width="150"/>
  <ol>
    <li th:each="m : ${car.getMaintenances()}">
      <b><span th:text="${m.getType()}"></span></b>
      <span th:if="${m.getResponsible() != null}" th:text="'- responsible: ' + ${m.getResponsible().getFirstName() + ' ' + m.getResponsible().getSurName()}"></span>
      <p th:text="'Duration: ' + ${m.getDuration()} + ' minutes'"></p>
      <p th:text="'Hourly rate: ' + ${m.getHourlyRate()}"></p>
    </li>
  </ol>
  <a href="/">Home</a>

</body>
</html>