<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Classic cars start</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">

</head>
<body>
<!-- Ferre r1092398-->

<h1>Classic Cars</h1>
<p>By Ferre Goovaerts</p>
<hr/>
<p><a href="/newowner">New owner</a></p>
<p><a href="/newstaffmember">New staff member</a></p>
<p><a href="/newmaintenance">New maintenance</a></p>
<p><a href="/newcar">New car</a></p>
<p>---</p>
<p><a href="/liststaff">List of staff members</a></p>
<p><a href="/listowners">List of owners</a></p>
<p><a href="/listcars">List of cars</a></p>
<hr/>
<form action="/searchMaintenance" method="post">
    <input type="text" name="searchName">
    <input type="submit" value="Search maintenance">
</form>
</body>
</html>